name: CI

on:
  schedule:
    - cron: '45 * * * *'
  workflow_dispatch:

jobs:
  visit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Visit site/s
        run: |
           sites=($(echo "$SITES" | tr ',' '\n'))
           for site in ${sites[@]}; do curl -l $site; done;
        env:
          SITES: 'https://api.seanervinson.com/api/v1/links,'
